html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    width: 100%;
    height: auto;
}

/* MY CSS */
body{
    background-color: black;

}

.container{
    width: 100%;
}

.cl-bl{
	color: #2B9DF4;
}
/* FONTS TESTI */

.font-orbitron{
    font-family: 'Orbitron', sans-serif;
	color: white;
}

.font-jura{
	font-family: 'Jura', sans-serif;
}

/* immagine moon */
.background1{
	background-image: url(./media/moon.jpg);
	background-size: cover;
	position: relative;
}

.mynav{
	justify-content: space-between;
}

.altezza{
	height: 1000px;
}

h1 {
    font-size: 70px;
}

.titolo{
	display: flex;
}

.text {
    top: 290px;
    left: 40px;
}

.freccia{
	display: flex;
	justify-content: center;
	font-size: 30px;
}

.altezza2{
	height: 400px;
}

h4{
	font-size: 20px;
}

.number{
	font-size: 60px;
	justify-content: space-between;
}

.linea{
	border: #2B9DF4 solid 1px;
}

/* Seconda parte main */
.spaziomoon2{
height: 1000px;
}

h2{
	font-size: 40px;
}

.text2{
	font-size: 30px;
	justify-content: center;
}

.interlinea{
	line-height: 2em;
}

.altezza3{
	height: 600px;
}

.altezza4{
	height: 1400px;
}

.bordo{
	border: red solid 2px;
}

.pippo {
	height: 1300px;
	max-width: 100%;
}

/* .bottone{
	width: 100px;
	height: 60px; */
	/* border: #2B9DF4 solid 3px; */
	/* border-bottom: red solid 3px;
	border-right: red solid 3px;
	border-top: greenyellow solid 0px;
	border-left: greenyellow solid 0px;
	justify-content: center;
	display: flex;
	align-items: center;
} */

.corners{
	position: relative;
	height: 90px;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

.corner1{
	position: absolute;
	width: 20px;
	height: 20px;
	border-left: #2B9DF4 solid 4px;
	border-top: #2B9DF4 solid 4px;
	top: 0;
	left: 70%;
	
}

.corner2{
	position: absolute;
	width: 20px;
	height: 20px;
	border-right: greenyellow solid 4px;
	border-top:greenyellow solid 4px;
	top: 0;
	right: 0;
}

.corner3{
	position: absolute;
	width: 20px;
	height: 20px;
	border-left: #2B9DF4 solid 4px;
	border-bottom: #2B9DF4 solid 4px;
	bottom: 0;
	left: 70%;
}

.corner4{
	position: absolute;
	width: 20px;
	height: 20px;
	border-right: greenyellow solid 4px;
	border-bottom:greenyellow solid 4px;
	bottom: 0;
	right: 0;
}
